body {
    background-color: #282828;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    grid-gap: 10px;
    padding: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px solid #3a3a3a;
    border-radius: 15px;
    font-size: 1.2em;
    padding: 20px;
    box-sizing: border-box;
    background-color: #1a1a1a;
    min-height: 200px;
}

.heading {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 700;
}

.device-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.device {
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 1em;
}

.device span {
    margin-right: 10px; /* Adds space after the device label */
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 74px; /* Increased width of the switch */
    height: 34px; /* Height of the switch */
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cc0000; /* Red background color for OFF */
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px; /* Height of the knob */
    width: 26px; /* Width of the knob */
    left: 4px; /* Positioned from the left to align within the switch */
    bottom: 4px; /* Positioned from the bottom to center vertically */
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #00cc00; /* Green background color for ON */
}

input:checked + .slider:before {
    /* No translateX, just position the knob on the right */
    left: 44px; /* Position the knob to the right within the switch */
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

